<ion-content>
  <div class="contenedor centrar">
    <div class="alerta">
      <ion-row class="fila-icon">
        <ion-img src="../../../assets/img/marrano-regalo.svg" class='icon-marrano'></ion-img>
      </ion-row>
      <ion-row>
        <h2 class="titulo">¡Bienvenido a Coink!</h2>
      </ion-row>
      <ion-row class="fila-parrafo">
        <p class="parrafo">¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</p>
      </ion-row>
      <ion-row class="fila-boton">
        <ion-button class="boton-continuar">CONTINUAR</ion-button>
      </ion-row>
    </div>
  </div>
</ion-content>
