/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: "Montserrat Bold";
    src: url(assets/fonts/montserrat-bold.ttf);
}

@font-face {
    font-family: "Avenir Roman";
    src: url(assets/fonts/avenir-roman.otf);
}

@font-face {
    font-family: "Avenir Medium";
    src: url(assets/fonts/avenir-medium.otf);
}

@font-face {
    font-family: "Montserrat Medium";
    src: url(assets/fonts/montserrat-medium.otf);
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subrayar{
    text-decoration: underline;
}

.titulo{
    display: block;
    color: var(--color-secundario);
    font-size: 16px;
    font-family: 'Montserrat Bold';
    margin-bottom: 16px;
}

.texto{
    font-family: 'Avenir Roman';
    color: #757575;
    font-size: 16px;
}

.error{
    color: #FF0000;
    font-size: 12px;
    margin-left: 8px;
    font-family: 'Avenir Roman';
    margin-top: 8px;
    display: block;
}